{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "rules": {
    "no-unused-expressions": "warn",
    "@typescript-eslint/no-unused-expressions": "warn"
  },
  "parser": "@typescript-eslint/parser"
}

